html, body, div, ul, li, a {
	margin: 0px;
	padding: 0px;
}

html, body {
	height: 100%;
}

body {
	background-color: #C8D5FF;
}
#wrapper {
	background-color: #FD0F20;
	width: 96%;
	margin-left: 2%;
	height: 100%;
}

#header {
	background-color: #ED2D2D;
	height: 27%;
	text-align: center;
	color: white;
}

#nav {
	text-align: right;
	background-color: #334CAA;
}
ul {
	list-style-type: none;
	padding-top: 0.3%;
	padding-bottom: 0.3%;
}
li {
	background-color: #FCFDFE;
	display: inline-block;
	padding: 0.5%;
	margin-right: 1%;
}
a {
	text-decoration: none;
	display: block;
}
#white {
	background-color: white;
	color: #2E3A83;
}
#blue{
	background-color: white;
	color: #2E3A83;
}
#main {
	background-color: #FEFEFE;
	height: 68.1%;
	margin-top: 0.1%;
	position: relative;
}
#first{
	position: absolute;
	top:7%;
	left:36%;
}
#second{
	position: absolute;
	top:57%;
	left: 18%;
	font-size: 17px;
}
img {
	width: 70%;
}

#third {
	position: absolute;
	top:72%;
	left: 42%;
}

#lii{
	color: #2E3A83;
}
#fourth{
	position: absolute;
	top:82%;
	left: 45%;
}
#reg{
	position: absolute;
	top: 3%;
	left: 37%;
}
#form{
	position: absolute;
	top: 5%;
	left: 39%;
}
#success{
	position: absolute;
	top: 5%;
	left: 40%;
}
#success1{
	position: absolute;
	top: 20%;
	left: 43%;
}
#search{
	position: absolute;
	top: 5%;
	left: 29%;
}
#search1{
	position: absolute;
	top: 25%;
	left: 43%;
}
#search2{
	position: absolute;
	top: 20%;
	left: 37%;
}

#contact{
	position: absolute;
	top: 28%;
	left: 41%;
}
#cont{
	position: absolute;
	top: 20%;
	left: 35%;
}
#cont1{
	position: absolute;
	top: 35%;
	left: 38%;
}
#cont2{
	position: absolute;
	top: 49%;
	left: 44%;
}

#footer {
	background-color: #A1A3A6;
	height: 4.5%;
	margin-top: 0.3%;
	text-align: center;
}

